
 # Programación para el Análisis de Datos
 ### Tarea 1
 ### Presentado por: Kevin Alejandro Cardenas Quintero
 ### Grupo 39
 ### Código: 203008069
 ### Presentado a: Felipe Alexander Pipicano Guzman
 ### Universidad Nacional Abierta y a Distancia - UNAD
 ### 03 de Marzo 2024

## Ejercicio 1

### Descripción del ejercicio:
Desarrolle códigos para ejecutar las siguientes tareas:

• Cargue en la variable df1 el conjunto de datos que se presentan en el archivo Excel, Anexo 1 - Base de Datos Excel.xlsx, que se encuentra en la carpeta de la Unidad 1 - Tarea 1 - Fundamentos de programación científica con Python. Tenga en cuenta la hoja, encabezado y celdas en las que comienzan los datos. Los índices del dataframe deben ser los valores en primera columna de la tabla de datos.

• Cargue en la variable df2 el conjunto de datos que se presentan en el archivo CSV, Anexo 2 - Base de Datos CSV.csv, que se encuentra en la carpeta de la Unidad 1 - Tarea 1 - Fundamentos de programación científica con Python. Tenga en cuenta el tipo de separador y los encabezados de las columnas.

• Cargue los datos Breast Cancer Wisconsin Dataset que se encuentran en la variable load_breast_cancer del paquete sklearn, en un dataframe de pandas asignado a la variable df3.

• Construya un Panel con los tres (3) dataframes cargados anteriormente: df1, df2 y df3. Para construir este panel, cree un diccionario llamado panel que en sus keys tenga los nombres de los conjuntos de datos y los valores sean los dataframes.

• Programe una función que extraiga todas las listas de los encabezados de columnas que se encuentran en un Panel y úsela para extraer las listas de columnas del Panel del punto anterior. Imprima los resultados de forma que se diferencien los encabezados entre los dataframes en el Panel.

• Programe una función que imprima la cantidad de elementos que tienen las bases de datos en un Panel y úsela con el Panel del punto anterior. Imprima los resultados de forma que se diferencien los tamaños de los diferentes dataframes en el Panel. 

• Filtre el dataframe df1 para obtener las muestras de la empresa TAC. Determine cuantos elementos tiene dicho filtro.

• Determine cuantos elementos nulos hay en cada una de las columnas del dataframe df2.

## Teoria

### Definiciones

Series: Una Serie es una estructura de datos unidimensional en la biblioteca de Python llamada pandas. Es como una columna en una tabla de datos o una matriz unidimensional. Cada elemento en una serie tiene una etiqueta, llamada índice, que ayuda a identificar o acceder a los elementos en la serie. Las Series son útiles para trabajar con datos unidimensionales, como series de tiempo, listas de valores o cualquier otro tipo de datos que necesiten ser etiquetados o indexados.

Data Frame: Un DataFrame es una estructura de datos bidimensional en pandas, que es esencialmente una tabla de datos con filas y columnas.Es como una hoja de cálculo o una base de datos relacional, donde cada columna puede representar un tipo de datos diferente y cada fila contiene un conjunto de datos relacionados entre sí. Los DataFrames son extremadamente útiles para manipular datos tabulares de manera eficiente y realizar análisis de datos complejos.

Panel: Un Panel es una estructura de datos tridimensional en pandas. Mientras que las Series son unidimensionales y los DataFrames son bidimensionales, los Paneles son tridimensionales, lo que significa que pueden contener datos organizados en tres dimensiones: ítems, ejes de fila y ejes de columna. En la práctica, los Paneles son menos comunes que las Series y los DataFrames, y se utilizan principalmente en situaciones donde se necesite trabajar con datos que requieran una representación tridimensional, como datos longitudinales o datos de series temporales con múltiples variables y observaciones. Sin embargo, en muchas situaciones, los DataFrames se pueden utilizar de manera efectiva para manejar datos tridimensionales, lo que hace que el uso de Paneles sea menos necesario en la mayoría de los casos.

### Paso 1
Cargue en la variable df1 el conjunto de datos que se presentan en el archivo Excel, Anexo 1 - Base de Datos Excel.xlsx, que se encuentra en la carpeta de la Unidad 1 - Tarea 1 - Fundamentos de programación científica con Python. Tenga en cuenta la hoja, encabezado y celdas en las que comienzan los datos. Los índices del dataframe deben ser los valores en primera columna de la tabla de datos.

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("Anexo 1 - Base de Datos EXCEL.xlsx", sheet_name=1, header=3, index_col=0)

In [6]:
df1

,Empresa,Turno,Día de la semana,Experiencia del conductor,Formación del Paramédico,Nivel del Paramédico,Cantidad de atenciones,Distancia recorrida (Km),Velocidad máxima (Km/h),Consumo de combustible (Galones),Tiempo en Movimiento (h),Tiempo motor ON (h)
Servicio,,,,,,,,,,,,
1,TAC,D,5,Principiante,4,I,8,78.4,82,3.1,2.8,3.08
2,TAD,N,4,Principiante,3,B,5,46.2,89,1.9,2.1,2.31
3,TAB,N,4,Experto,4,B,6,62.4,99,2.5,2.6,4.68
4,TAB,D,2,Intermedio,3,B,7,70.2,95,3.0,2.6,3.12
5,TAC,N,7,Principiante,2,I,8,75.6,87,2.8,2.8,3.64
...,...,...,...,...,...,...,...,...,...,...,...,...
2196,TAB,D,3,Experto,3,B,6,58.0,100,1.7,2.9,3.19
2197,TAB,N,6,Intermedio,4,B,7,69.6,92,3.0,2.9,4.64
2198,TAB,D,3,Principiante,2,B,5,50.0,86,2.0,2.5,3.75
2199,TAD,D,7,Intermedio,1,B,6,57.2,94,2.6,2.6,2.86
2200,TAD,D,3,Intermedio,1,I,8,84.1,92,3.6,2.9,4.35

### Paso 2
Cargue en la variable df2 el conjunto de datos que se presentan en el archivo CSV, Anexo 2 - Base de Datos CSV.csv, que se encuentra en la carpeta de la Unidad 1 - Tarea 1 - Fundamentos de programación científica con Python. Tenga en cuenta el tipo de separador y los encabezados de las columnas.

In [7]:
df2 = pd.read_csv("Anexo 2 - Base de Datos CSV.csv")

In [8]:
df2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,NaN,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,NaN,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

### Paso 3
Cargue los datos Breast Cancer Wisconsin Dataset que se encuentran en la variable load_breast_cancer del paquete sklearn, en un dataframe de pandas asignado a la variable df3.

In [9]:
from sklearn.datasets import load_breast_cancer

In [10]:
cancer_data = load_breast_cancer()

In [18]:
cancer_data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [19]:
cancer_data.data

array([[1.799e+01, 1.038e+01, 1.228e+02, ..., 2.654e-01, 4.601e-01,
        1.189e-01],
       [2.057e+01, 1.777e+01, 1.329e+02, ..., 1.860e-01, 2.750e-01,
        8.902e-02],
       [1.969e+01, 2.125e+01, 1.300e+02, ..., 2.430e-01, 3.613e-01,
        8.758e-02],
       ...,
       [1.660e+01, 2.808e+01, 1.083e+02, ..., 1.418e-01, 2.218e-01,
        7.820e-02],
       [2.060e+01, 2.933e+01, 1.401e+02, ..., 2.650e-01, 4.087e-01,
        1.240e-01],
       [7.760e+00, 2.454e+01, 4.792e+01, ..., 0.000e+00, 2.871e-01,
        7.039e-02]])

In [16]:
df3 = pd.DataFrame(data=cancer_data.data, columns=cancer_data.feature_names)

In [17]:
df3

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

### Paso 4
Construya un Panel con los tres (3) dataframes cargados anteriormente: df1, df2 y df3. Para construir este panel, cree un diccionario llamado panel que en sus keys tenga los nombres de los conjuntos de datos y los valores sean los dataframes.

In [23]:
panel = {
    "Datos Ambulancias": df1,
    "Datos Inmuebles": df2,
    "Datos Cancer": df3
}

In [24]:
panel

{'Datos Ambulancias':          Empresa Turno  Día de la semana Experiencia del conductor  \
 Servicio
 1            TAC     D                 5              Principiante
 2            TAD     N                 4              Principiante
 3            TAB     N                 4                   Experto
 4            TAB     D                 2                Intermedio
 5            TAC     N                 7              Principiante
 ...          ...   ...               ...                       ...
 2196         TAB     D                 3                   Experto
 2197         TAB     N                 6                Intermedio
 2198         TAB     D                 3              Principiante
 2199         TAD     D                 7                Intermedio
 2200         TAD     D                 3                Intermedio

           Formación del Paramédico Nivel del Paramédico  \
 Servicio
 1                                4                    I
 2                                3                    B
 3                                4                    B
 4                                3                    B
 5                                2                    I
 ...                            ...                  ...
 2196                             3                    B
 2197                             4                    B
 2198                             2                    B
 2199                             1                    B
 2200                             1                    I

           Cantidad de atenciones  Distancia recorrida (Km)  \
 Servicio
 1                              8                      78.4
 2                              5                      46.2
 3                              6                      62.4
 4                              7                      70.2
 5                              8                      75.6
 ...                          ...                       ...
 2196                           6                      58.0
 2197                           7                      69.6
 2198                           5                      50.0
 2199                           6                      57.2
 2200                           8                      84.1

           Velocidad máxima (Km/h)  Consumo de combustible (Galones)  \
 Servicio
 1                              82                               3.1
 2                              89                               1.9
 3                              99                               2.5
 4                              95                               3.0
 5                              87                               2.8
 ...                           ...                               ...
 2196                          100                               1.7
 2197                           92                               3.0
 2198                           86                               2.0
 2199                           94                               2.6
 2200                           92                               3.6

           Tiempo en Movimiento (h)  Tiempo motor ON (h)
 Servicio
 1                              2.8                 3.08
 2                              2.1                 2.31
 3                              2.6                 4.68
 4                              2.6                 3.12
 5                              2.8                 3.64
 ...                            ...                  ...
 2196                           2.9                 3.19
 2197                           2.9                 4.64
 2198                           2.5                 3.75
 2199                           2.6                 2.86
 2200                           2.9                 4.35

 [2200 rows x 12 columns],
 'Datos Inmuebles':       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
 0       -122.05     37.37                27.0       3885.0           661.0
 1       -118.30     34.26                43.0       1510.0           310.0
 2       -117.81     33.78                27.0       3589.0           507.0
 3       -118.36     33.82                28.0         67.0            15.0
 4       -119.67       NaN                19.0       1241.0           244.0
 ...         ...       ...                 ...          ...             ...
 2995    -119.86       NaN                23.0       1450.0           642.0
 2996    -118.14     34.06                27.0       5257.0          1082.0
 2997    -119.70     36.30                10.0        956.0           201.0
 2998    -117.12     34.10                40.0         96.0            14.0
 2999    -119.63     34.42                42.0       1765.0           263.0

       population  households  median_income  median_house_value
 0         1537.0       606.0         6.6085            344700.0
 1          809.0       277.0         3.5990            176500.0
 2         1484.0       495.0         5.7934            270500.0
 3           49.0        11.0         6.1359            330000.0
 4          850.0       237.0         2.9375             81700.0
 ...          ...         ...            ...                 ...
 2995      1258.0       607.0         1.1790            225000.0
 2996      3496.0      1036.0         3.3906            237200.0
 2997       693.0       220.0         2.2895             62000.0
 2998        46.0        14.0         3.2708            162500.0
 2999       753.0       260.0         8.5608            500001.0

 [3000 rows x 9 columns],
 'Datos Cancer':      mean radius  mean texture  mean perimeter  mean area  mean smoothness  \
 0          17.99         10.38          122.80     1001.0          0.11840
 1          20.57         17.77          132.90     1326.0          0.08474
 2          19.69         21.25          130.00     1203.0          0.10960
 3          11.42         20.38           77.58      386.1          0.14250
 4          20.29         14.34          135.10     1297.0          0.10030
 ..           ...           ...             ...        ...              ...
 564        21.56         22.39          142.00     1479.0          0.11100
 565        20.13         28.25          131.20     1261.0          0.09780
 566        16.60         28.08          108.30      858.1          0.08455
 567        20.60         29.33          140.10     1265.0          0.11780
 568         7.76         24.54           47.92      181.0          0.05263

      mean compactness  mean concavity  mean concave points  mean symmetry  \
 0             0.27760         0.30010              0.14710         0.2419
 1             0.07864         0.08690              0.07017         0.1812
 2             0.15990         0.19740              0.12790         0.2069
 3             0.28390         0.24140              0.10520         0.2597
 4             0.13280         0.19800              0.10430         0.1809
 ..                ...             ...                  ...            ...
 564           0.11590         0.24390              0.13890         0.1726
 565           0.10340         0.14400              0.09791         0.1752
 566           0.10230         0.09251              0.05302         0.1590
 567           0.27700         0.35140              0.15200         0.2397
 568           0.04362         0.00000              0.00000         0.1587

      mean fractal dimension  ...  worst radius  worst texture  \
 0                   0.07871  ...        25.380          17.33
 1                   0.05667  ...        24.990          23.41
 2                   0.05999  ...        23.570          25.53
 3                   0.09744  ...        14.910          26.50
 4                   0.05883  ...        22.540          16.67
 ..                      ...  ...           ...            ...
 564                 0.05623  ...        25.450          26.40
 565                 0.05533  ...        23.690          38.25
 566                 0.05648  ...        18.980          34.12
 567                 0.07016  ...        25.740          39.42
 568                 0.05884  ...         9.456          30.37

      worst perimeter  worst area  worst smoothness  worst compactness  \
 0             184.60      2019.0           0.16220            0.66560
 1             158.80      1956.0           0.12380            0.18660
 2             152.50      1709.0           0.14440            0.42450
 3              98.87       567.7           0.20980            0.86630
 4             152.20      1575.0           0.13740            0.20500
 ..               ...         ...               ...                ...
 564           166.10      2027.0           0.14100            0.21130
 565           155.00      1731.0           0.11660            0.19220
 566           126.70      1124.0           0.11390            0.30940
 567           184.60      1821.0           0.16500            0.86810
 568            59.16       268.6           0.08996            0.06444

      worst concavity  worst concave points  worst symmetry  \
 0             0.7119                0.2654          0.4601
 1             0.2416                0.1860          0.2750
 2             0.4504                0.2430          0.3613
 3             0.6869                0.2575          0.6638
 4             0.4000                0.1625          0.2364
 ..               ...                   ...             ...
 564           0.4107                0.2216          0.2060
 565           0.3215                0.1628          0.2572
 566           0.3403                0.1418          0.2218
 567           0.9387                0.2650          0.4087
 568           0.0000                0.0000          0.2871

      worst fractal dimension
 0                    0.11890
 1                    0.08902
 2                    0.08758
 3                    0.17300
 4                    0.07678
 ..                       ...
 564                  0.07115
 565                  0.06637
 566                  0.07820
 567                  0.12400
 568                  0.07039

 [569 rows x 30 columns]}

### Paso 5
Programe una función que extraiga todas las listas de los encabezados de columnas que se encuentran en un Panel y úsela para extraer las listas de columnas del Panel del punto anterior. Imprima los resultados de forma que se diferencien los encabezados entre los dataframes en el Panel.

In [35]:
def encabezados (x):
    encabezados={}
    for nombre, df in x.items():
        encabezados[nombre]=df.columns
    return encabezados

In [36]:
encab=encabezados(panel)

In [41]:
print("Encabezados")
print("\n")
for k, v in encab.items():
    print(k, ":")
    for i in v:
        print("\t", "-", i)
    print("\n")

Encabezados


Datos Ambulancias :
	 - Empresa
	 - Turno
	 - Día de la semana
	 - Experiencia del conductor
	 - Formación del Paramédico
	 - Nivel del Paramédico
	 - Cantidad de atenciones
	 - Distancia recorrida (Km)
	 - Velocidad máxima (Km/h)
	 - Consumo de combustible (Galones)
	 - Tiempo en Movimiento (h)
	 - Tiempo motor ON (h)


Datos Inmuebles :
	 - longitude
	 - latitude
	 - housing_median_age
	 - total_rooms
	 - total_bedrooms
	 - population
	 - households
	 - median_income
	 - median_house_value


Datos Cancer :
	 - mean radius
	 - mean texture
	 - mean perimeter
	 - mean area
	 - mean smoothness
	 - mean compactness
	 - mean concavity
	 - mean concave points
	 - mean symmetry
	 - mean fractal dimension
	 - radius error
	 - texture error
	 - perimeter error
	 - area error
	 - smoothness error
	 - compactness error
	 - concavity error
	 - concave points error
	 - symmetry error
	 - fractal dimension error
	 - worst radius
	 - worst texture
	 - worst perimeter
	 - worst area
	 - worst smoothness
	 - worst compactness
	 - worst concavity
	 - worst concave points
	 - worst symmetry
	 - worst fractal dimension

### Paso 6
Programe una función que imprima la cantidad de elementos que tienen las bases de datos en un Panel y úsela con el Panel del punto anterior. Imprima los resultados de forma que se diferencien los tamaños de los diferentes dataframes en el Panel.

In [47]:
def dimension (x):
    dim={}
    for nombre, df in x.items():
        dim[nombre]=df.shape
    return dim

In [48]:
dim = dimension(panel)

In [49]:
dim

{'Datos Ambulancias': (2200, 12),
 'Datos Inmuebles': (3000, 9),
 'Datos Cancer': (569, 30)}

In [58]:
print("Dimensiones")
print("\n")
for k, v in dim.items():
    print(k, ":") 
    print("-  Filas:", v[0])
    print("- Columnas:", v[1])
    print("\n")

Dimensiones


Datos Ambulancias :
-  Filas: 2200
- Columnas: 12


Datos Inmuebles :
-  Filas: 3000
- Columnas: 9


Datos Cancer :
-  Filas: 569
- Columnas: 30

### Paso 7
Filtre el dataframe df1 para obtener las muestras de la empresa TAC. Determine cuantos elementos tiene dicho filtro.

In [59]:
df1[df1["Empresa"] == "TAC"]

,Empresa,Turno,Día de la semana,Experiencia del conductor,Formación del Paramédico,Nivel del Paramédico,Cantidad de atenciones,Distancia recorrida (Km),Velocidad máxima (Km/h),Consumo de combustible (Galones),Tiempo en Movimiento (h),Tiempo motor ON (h)
Servicio,,,,,,,,,,,,
1,TAC,D,5,Principiante,4,I,8,78.4,82,3.1,2.8,3.08
5,TAC,N,7,Principiante,2,I,8,75.6,87,2.8,2.8,3.64
10,TAC,N,3,Principiante,3,B,6,55.0,87,2.3,2.5,3.25
11,TAC,N,1,Principiante,4,B,6,59.8,88,2.7,2.3,3.45
16,TAC,D,3,Intermedio,4,B,5,50.4,93,1.9,2.4,4.08
...,...,...,...,...,...,...,...,...,...,...,...,...
2181,TAC,D,6,Intermedio,2,B,5,50.4,90,2.3,2.4,2.88
2185,TAC,D,1,Principiante,2,I,8,84.0,88,2.9,3.0,3.60
2192,TAC,D,4,Intermedio,2,I,8,78.0,97,2.7,3.0,4.20
2194,TAC,N,3,Intermedio,4,B,6,59.4,93,2.5,2.7,3.78
2195,TAC,N,7,Principiante,3,I,7,66.0,88,2.4,3.0,3.90

Respuesta: Hay 596 datos con el valor de TAC

### Paso 8
Determine cuantos elementos nulos hay en cada una de las columnas del dataframe df2.

In [62]:
df2.isna()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2995,False,True,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False

In [63]:
df2.isna().sum()

longitude             0
latitude              5
housing_median_age    1
total_rooms           1
total_bedrooms        1
population            3
households            2
median_income         2
median_house_value    0
dtype: int64

## Conclusiones

## Referencias